
/* Button styling */
.prev, .next, .RevealOptions, .delete-task-button, .edit-task-button, .complete-task-button, .create-task-button, .share-task-button, .text-input, .date-input, .complete, .remove {
  background-color: rgb(73, 73, 73);
  font-size: 14px; /* Adjusted font size */
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 8px 12px; /* Adjusted button padding */
  margin: 5px; /* Adjusted margin */
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev:hover, .next:hover, .RevealOptions:hover, .delete-task-button:hover, .edit-task-button:hover, .complete-task-button:hover, .create-task-button:hover, .share-task-button:hover, .text-input:hover, .date-input:hover, .complete:hover, .remove:hover {
  color: #ff6d6d;
  background-color: rgb(46, 46, 46);
}

.manager-page {
  vertical-align: center;
}