body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #303030; /* Dark background */
    color: #fff; /* Light text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the layout stretches to at least the height of the viewport */
    text-align: center;
  }

  #rectangle {
    position: relative;
    width: 100 vh;
    height: 50 vh;
    background-color: #505c49;
  }

header {
    font-family: "Georgia", sans-serif;
    color: #fff;
    padding: 20px;
    text-shadow: .1px .1px 1px #ff6d6d;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Vertically align items */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    width: 200px; /* Set a specific width for the dropdown menu */
  max-width: calc(100vw - 140px); /* Set max width to prevent overflow */
    z-index: 1;
    top: 100%; /* Position dropdown below button */
    right: 0; /* Align dropdown to the right */
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0.5), transparent); /* Red gradient from top left to bottom right */

  }


  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #444;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
  }
  
  

  .directional
{
    margin-left: auto;
    margin-right: auto;
}
  main {
    flex: 1; /* Takes up remaining vertical space */
    padding: 20px;
  }
  
  .user {
    margin-bottom: 20px;
  }
  
/* Footer styles */
  footer {
    background-color: #222; /* Darker background for footer */
    color: #fff;
    padding: 20px;
    text-align: center;
    }
      
    

    .Larrow {
        width:50px;
        height:25px;
        background: linear-gradient(
                    155deg,
                    transparent 25px,
                    #cfcfcf 25px,
                    #ffabab 100%
                )
                top right,
            linear-gradient(
                    25deg,
                    transparent 25px,
                    #cfcfcf 25px,
                    #ffabab 100%
                )
                bottom right;
        background-size: 100% 75%;
        background-repeat: no-repeat;
        background-position: right 11px top -5px, right 11px bottom -5px;
        text-align: right;
    }


    .Rarrow {
        width:50px;
        height:25px;
        background: linear-gradient(
                    -155deg,
                    transparent 25px,
                     #cfcfcf 25px,
                     #ffabab 100%
                )
                top left,
            linear-gradient(
                    -25deg,
                    transparent 25px,
                    #cfcfcf 25px,
                    #ffabab 100%
                )
                bottom left;
        background-size: 100% 75%;
        background-repeat: no-repeat;
        background-position: right -12px top -5px, right -12px bottom -5px;
        text-align: left;
    }

    .mainbutton {
        width: 75px;
        height: 35px;
        background-color: aquamarine;
        
    }

    .TableButtons {
        margin-left: auto;
        margin-right: auto;
    }
